    <footer class="bg-gray">
        <div class="container text-center">
            <p>Copyright ©&nbsp;Brand 2021</p>
        </div>
    </footer>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script
      src="https://www.paypal.com/sdk/js?client-id=AV26OAHegyO056dMXH59tgL8K5I9DTtyYJAXU9WdIPUHRmUpbkxgdlzLEwhPxMSNrG1N_DghZ0KNSuxq&currency=USD"></script>
    <script src="/js/autosize.min.js"></script>
    <script src="/js/script.js"></script>

    {{#each script}}
        <script src="/js/{{this}}.js"></script>
    {{/each}}
</body>
</html>