    <footer class="bg-gray">
        <div class="container text-center">
            <p>Copyright ©&nbsp;Brand 2021</p>
        </div>
    </footer>

    <script src="js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="js/script.js"></script>


    {{#each script}}
        <script src="{{this}}.js"></script>
    {{/each}}
</body>
</html>