<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css'/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'/>
    <link rel="stylesheet" href="css/style.css">

    {{#each style}}
        <link rel="stylesheet" href="css/{{this}}.css">
    {{/each}}
</head>

<body class="{{template}}" id="page-top">
    {{> navigation}}
    <section class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 font-weight-bold">Movie Metro</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio asperiores veritatis iste doloribus, repudiandae neque maxime expedita ipsam. Cum nulla corrupti facere aut non possimus error cupiditate voluptatibus assumenda explicabo.</p>

            <form action="/movies#search" method="GET">
                <div class="input-group">
                    <input type="text" class="form-control form-control-dark" placeholder="Enter movie title here..." name="q" id="q">
                    <div class="input-group-append">
                        <button class="btn btn-dark" type="button"><i class="fas fa-search"></i> Search</button>
                    </div>
                </div>
            </form>
        </div>
    </section>