<div class="min-vh-100 container pt-5 text-center">
  <h1 style='font-size: 128px;' class="text-success"><i class="far fa-check-circle"></i></h1>
  <h3 class="display-3 text-success">Success!</h3>
  <p class="display-6 nowrap">We've succesfully received your order with the ID number:</p>
  <b class="display-5">{{order}}</b>
  <br/> <br/> <br/>
  <a href="/" class="btn btn-sm btn-primary">Click here to go back home</a> <br/> or <br/> 
  <a href="/movie/view/search" class="btn btn-sm btn-outline-success">Click here to look for movies</a>
</div>