<section class="bg-dark">
    <div class="container" id="recentMovies">
        <h1 class="display-6 font-weight-bold">Recent Movies</h1>
        
        {{#each results}}
            <div class="row movie-row">
                <div class="col-md-3 my-5">
                    <img src="{{this.poster}}" alt="" height="auto" width="100%">
                </div>
                <div class="col-md-9 my-5">
                    <a href="/movies/details?id={{this._id}}"><h4 style="text-transform: capitalize;">{{this.title}}</h4></a>
                    <p><i>{{this.synopsis}}</i></p>
                </div>
            </div>
        {{/each}}
    </div>
</section>