h1, .display-1 {
  font-family: Nunito, "sans-serif";
}

h2, .display-2 {
  font-family: Nunito, "sans-serif";
}

h3, .display-3 {
  font-family: Nunito, "sans-serif";
}

h4, .display-4 {
  font-family: Nunito, "sans-serif";
}

h5, .display-5 {
  font-family: Nunito, "sans-serif";
}

h6, .display-6 {
  font-family: Nunito, "sans-serif";
}

p:not(.nowrap) {
  white-space: pre-wrap !important;
}

.bg-gray {
  color: #ffffff;
  background-color: #333333 !important;
}

.bg-dark {
  color: #ffffff;
  background-color: #111111 !important;
}

.bg-darker {
  color: #ffffff;
  background-color: black !important;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.logo {
  filter: invert(1);
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

footer {
  color: #ffffff;
  background-color: #790097;
}
footer p {
  padding: 15px;
  margin: 0 !important;
}

.highlight {
  isolation: isolate;
}
.highlight span {
  position: relative;
}
.highlight span::before {
  content: "";
  background-color: #9503b9;
  position: absolute;
  z-index: -5;
  top: 50%;
  left: 40%;
  width: 100%;
  border-radius: 40px;
  height: 80%;
  transform: translate(-40%, -30%);
}
.highlight span::after {
  content: "";
  background-color: #d7e971;
  position: absolute;
  z-index: -6;
  top: 55%;
  left: 41%;
  width: 100%;
  border-radius: 40px;
  height: 80%;
  transform: translate(-40%, -30%);
}

h3.display-3 span {
  color: #fff;
  border: 1px solid #fff;
  padding: 13px 25px;
  font-family: Nunito, "sans-serif";
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

#landing {
  min-height: 50vh;
}

#topMovie {
  padding: 0;
}
#topMovie .content {
  color: #ffffff;
  padding: 30px;
}
#topMovie .content .spinner {
  margin-top: 15%;
  margin-bottom: 15%;
}

#top15 {
  padding-bottom: 5%;
  /* the slides */
  /* the parent */
}
#top15 .spinner {
  margin-top: 15%;
}
#top15 .slick-slide {
  margin-left: 27px;
}
#top15 .slick-list {
  margin-left: -27px;
}
#top15 .card {
  color: #000000;
  text-decoration: none;
  min-height: 450px;
  max-height: 450px;
}
#top15 .card .card-title {
  color: #ba35db;
}

@media screen and (max-width: 767px) {
  #topMovie .content {
    min-height: 100vh;
    margin: 0 auto;
    background-color: black;
  }

  #top15 {
    background-color: #111111 !important;
  }
}
@media screen and (min-width: 768px) {
  #topMovie {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    position: relative;
    background-image: url("../img/intro-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
  }
  #topMovie .content {
    position: relative;
    margin: 0 auto;
    width: 70vw;
    min-height: 80%;
    background: #111111;
  }
  #topMovie .content::after {
    content: "";
    z-index: -10;
    border: 1px solid #ffffff;
    position: absolute;
    top: 15px;
    left: 15px;
    bottom: 15px;
    right: 15px;
  }
  #topMovie .content::before {
    content: "";
    z-index: -10;
    border: 1px solid #ffffff;
    position: absolute;
    top: 25px;
    left: 25px;
    bottom: 25px;
    right: 25px;
  }
}
@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 5px #ddd, 0 0 10px #ddd, 0 0 15px #ddd, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    box-shadow: 0 0 2px #ddd, 0 0 5px #ddd, 0 0 7px #ddd, 0 0 10px #FF1177, 0 0 15px #FF1177, 0 0 20px #FF1177, 0 0 25px #FF1177, 0 0 33px #FF1177, inset 0 0 2px #ddd, inset 0 0 5px #ddd, inset 0 0 7px #ddd, inset 0 0 10px #FF1177, inset 0 0 15px #FF1177, inset 0 0 20px #FF1177, inset 0 0 25px #FF1177, inset 0 0 33px #FF1177;
  }
  to {
    text-shadow: 0 0 3px #ddd, 0 0 5px #ddd, 0 0 8px #ddd, 0 0 10px #FF1177, 0 0 18px #FF1177, 0 0 20px #FF1177, 0 0 25px #FF1177, 0 0 33px #FF1177;
    box-shadow: 0 0 1px #ddd, 0 0 2px #ddd, 0 0 4px #ddd, 0 0 5px #FF1177, 0 0 8px #FF1177, 0 0 10px #FF1177, 0 0 11px #FF1177, 0 0 14px #FF1177, inset 0 0 1px #ddd, inset 0 0 2px #ddd, inset 0 0 4px #ddd, inset 0 0 5px #FF1177, inset 0 0 8px #FF1177, inset 0 0 10px #FF1177, inset 0 0 11px #FF1177, inset 0 0 14px #FF1177;
  }
}
#movies .card {
  color: #000000;
  text-decoration: none;
  min-height: 450px;
  max-height: 450px;
}
#movies .card h5.card-title a,
#movies .card h5.card-title {
  text-decoration: none;
  color: #ba35db !important;
}

.replies > div:nth-child(2n+1) {
  background-color: #e2e2e2 !important;
}

#comments > div {
  margin-bottom: 10px;
  border-bottom: 1px solid #888;
}

/*# sourceMappingURL=index.css.map */
