:root {
    --darker: rgb(0, 0, 0);
    --dark: rgb(17, 17, 17);
    --gray-dark: rgb(29, 29, 29);
    --gray: rgb(43, 42, 42);
    --gray-light: rgb(66, 66, 66);
    --gray-lighter: rgb(51, 51, 51);
    --purple: rgb(54, 0, 68);
    --purple-light: rgb(80, 1, 100);
    --purple-lighter: rgb(121, 0, 151);
}

body {
    position: relative;
}

body > section {
    padding-top: 30px;
    padding-bottom: 30px;
}

a {
    text-decoration: none !important;
}

footer {
    display: flex;
    align-items: center;
    min-height: 50px;
}

footer p {
    padding: 0;
    margin-bottom: 0;
}

.navbar {
    background-color: var(--dark) !important;
}

.nav-link.active {
    background-color: var(--gray) !important;
}

.btn.active,
.btn:active,
.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.jumbotron {
    margin-bottom: 0 !important;
    color: #ffffff;
    background-size: cover;
    background-attachment: fixed;
    min-height: calc(100vh - 72px);
    box-shadow: inset 0 -25px 25px rgba(0, 0, 0, 0.8);
    background-image: linear-gradient(0deg, rgba(0, 38, 73, 0.3), rgba(54, 0, 68, 0.6)),
    url('/img/intro-bg.jpg');
    display: flex;
    align-items: center;
}

.jumbotron h1, .jumbotron p {
    text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}

.form-control-dark {
    background-color: var(--gray-dark);
    color: #ffffff;
    border-color: var(--gray)
}

.form-control-dark:hover,
.form-control-dark:active,
.form-control-dark:focus {
    background-color: var(--gray-dark);
    color: #ffffff;
    border-color: var(--gray-lighter);
    outline: none;
    box-shadow: none;
}

.bg-dark {
    background-color: var(--darker) !important;
    color: #ffffff;
}

.bg-gray {
    background-color: var(--gray) !important;
    color: #ffffff;
}

section #recentMovies .display-6{
    text-shadow: 2px 2px cyan, 4px 4px rgb(133, 0, 126);
}

#search .row a{
    color: var(--darker);
}

#search .row a:hover,
#search .row a:focus {
    color: var(--purple-lighter);
}

.movie-row:not(:last-child) {
    border-bottom: 1px solid var(--bs-light) !important;
}

.movie-row h4{
    font-weight: bold;
    color: cyan;
    text-shadow: 2px 2px violet;
}