<section class="jumbotron jumbotron-fluid" style="min-height: calc(100vh - 50px);">
    <div class="container">
        <h1 class="display-1 font-weight-bold">403</h1>
        <p>Hey! You're not supposed to be here!</p>
    </div>
</section>