<section class="jumbotron jumbotron-fluid" style="min-height: calc(100vh - 50px);">
    <div class="container">
        <h1 class="display-1 font-weight-bold">404</h1>
        <p>Wenkwonk, looks like you went down the wrong rabbit hole!</p>
    </div>
</section>